<section>
    <div class="titulo-login">
        <h2>Iniciar sesion</h2>
    </div>

    <div class="form-login">
        <form [formGroup]="loginForm" (ngSubmit)="loginCliente()">
          <label for="email">Email</label>
          <input type="text" id="email" formControlName="email">
          
          <label for="contrasenia">Password</label>
          <input type="password" id="contrasenia" formControlName="contrasenia">

          <button type="submit" class="btn-login">Iniciar sesion</button>
        </form>
      </div>
      
</section>