.titulo-login{
    background-color: #FFD700;
    width: 25%;
    padding: 0 2em;
    margin: auto;
}

.form-login form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-login form input {
    width: 75%;
    margin: auto;
}