<section>
  <div class="titulo-register">
    <h2>Registro</h2>
  </div>

  <div class="form-register">
    <form [formGroup]="registroForm" (ngSubmit)="registrarCliente()">
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" formControlName="nombre" />

      <label for="apellido">Apellido</label>
      <input type="text" id="apellido" formControlName="apellido" />

      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" />

      <label for="contrasenia">Password</label>
      <input type="password" id="contrasenia" formControlName="contrasenia" />

      <label for="direccion">Direccion</label>
      <input type="text" id="direccion" formControlName="direccion" />

      <label for="telefono">Telefono</label>
      <input type="text" id="telefono" formControlName="telefono" />

      <button type="submit" class="btn-registrar">Registrar</button>
    </form>
  </div>
</section>
