<section>
    <div class="titulo-register">
        <h2>Registro</h2>
    </div>

    <div class="form-register">
        <form action="usuarios/registrar/" method="POST">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre">

            <label for="apellido">Apellido</label>
            <input type="text" id="apellido">

            <label for="apellido">Apellido</label>
            <input type="text" id="apellido">

            <label for="password">Password</label>
            <input type="password" id="password">

            <label for="direccion">Direccion</label>
            <input type="text" id="direccion">
            
            <label for="telefono">Telefono</label>
            <input type="text" id="telefono">

          </form>
    </div>

</section>
