.titulo-register{
    background-color: #FFD700;
    width: 25%;
    padding: 0 2em;
    margin: auto;
}

.form-register form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-register form input {
    width: 75%;
    margin: auto;
}